body {
	background-color: gainsboro;
	margin: 40px auto;
	max-width: 800px;
	font-family: serif;
	font-size: 1.5em;
	line-height: 1.5em;
	padding: 0 10px;
}
img {
	max-width: 80%;
	margin: auto;
	display: block;
}
